.home-custom-styles .text-semibold {
    background: #333;
    color: #fff;
    padding: 8px;
    font-size: 13px;
}

.home-custom-styles li{
    background:#fff;
    box-shadow:0 0 8px #ccc

}



.home-custom-styles .text-muted{
    padding:20px;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper img{
    max-height: 50px
}


.language-link{
    margin-top:20px
}

.m-type.m-type--lg>.admin-text-size {
    font-size:14px;
    display: block;
    width: 60px;
    overflow-wrap: break-word;
}

.dataTables_filter label{
    display: block
}

select.form-control{
    padding-top:5px
}

.inline-form-style{
    display:inline-block
}

ul.m-menu__nav.m-menu__nav--submenu-arrow .m-menu__item:last-of-type{
    background:#eee !important
}

.inline-form{
    display:inline-block;
}
.trash-btn {
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0 3px;
    cursor:pointer;
}

@media only screen and (max-width: 450px) {
    .home-custom-styles .block-styles{
        flex:0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        max-width: 100% !important
    }
}